.pagination {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;

    &.active {
        animation: pulse-border 1s linear infinite;

        &::after {
            animation: pulse-border 1s linear infinite;
        }

        &::before {
            animation: pulse-background 1s linear infinite;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #000;
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        content: '';
        border: 1px solid #000;
    }

    @keyframes pulse-border {
        from {
            border-color: red;
        }

        to {
            border-color: black;
        }
    }

    @keyframes pulse-background {
        from {
            background-color: red;
        }

        to {
            background-color: black;
        }
    }
}