.options {
    padding: 20px 30px;
    border: 1px solid #000;
    background-color: #fff;

    &__title {
        margin-bottom: 15px;
        text-align: center;
        font-size: 20px;
    }

    &__label {
        display: block;
        margin-bottom: 15px;
    }

    &__field {
        border: 1px solid black;
        width: 100%;
        padding: 5px 10px;
    }

    &__text {
        margin-bottom: 5px;
    }

    &__btn {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #000;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
    }
}