.elevator {
    width: 150px;
    border-right: 2px solid rgb(158, 158, 158);
    border-left: 2px solid rgb(158, 158, 158);

    &__box {
        position: absolute;
        left: 0;
        right: 0;
        height: 20%;
        background-color: rgb(226, 214, 46);
    }

    &__info {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 80%;
        min-height: 30px;
        background-color: #fff;
        text-align: center;
        line-height: 30px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
}